{% extends 'layout.html' %}
{% load static %}
  {% block body_block %}

  {% if banner %}
  <!-- bradcam_area  -->
  <div class="bradcam_area" style="background-image: url(/media/{{ banner.banner_image }})">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="bradcam_text text-center">
                      <h3>Contact</h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--/ bradcam_area  -->
  {% endif %}
  {% if submitted %}
  <div class="row align-items-center justify-content-center mt-30 mb-20">
    <div class="col-md-6 alert alert-success">
      We have received your message successfully, thank you!
      <i class="fa fa-times pull-right" data-dismiss="alert"></i>
    </div>
  </div>
  {% endif %}
  <!-- ================ contact section start ================= -->
  <section class="contact-section section_padding">
    <div class="container">
      <div class="d-none d-sm-block mb-5 pb-4">
        <div id="map" style="height: 480px;"></div>
        <script>
          function initMap() {
            var uluru = {lat: -25.363, lng: 131.044};
            var grayStyles = [
              {
                featureType: "all",
                stylers: [
                  { saturation: -90 },
                  { lightness: 50 }
                ]
              },
              {elementType: 'labels.text.fill', stylers: [{color: '#ccdee9'}]}
            ];
            var map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: -31.197, lng: 150.744},
              zoom: 9,
              styles: grayStyles,
              scrollwheel:  false
            });
          }

        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&callback=initMap"></script>

      </div>

{% if form %}
      <div class="row">
        <div class="col-12">
          <h2 class="contact-title">Get in Touch</h2>
        </div>
        <div class="col-lg-8">
          <form class="form-contact contact_form" method="post" novalidate="novalidate">
            {% csrf_token %}
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  {{ form.message }}
                  {% if form.message.errors %}
                  <div class="alert alert-danger">
                    {{ form.message.errors }}
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  {{ form.name}}
                  {% if form.name.errors %}
                  <div class="alert alert-danger">
                    {{ form.name.errors }}
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  {{ form.email }}
                  {% if form.email.errors %}
                  <div class="alert alert-danger">
                    {{ form.email.errors }}
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  {{ form.subject}}
                  {% if form.subject.errors %}
                  <div class="alert alert-danger">
                    {{ form.subject.errors }}
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="form-group mt-3">
              <button type="submit" class="button button-contactForm btn_4 boxed-btn">Send Message</button>
            </div>
          </form>
        </div>
        <div class="col-lg-4">
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-home"></i></span>
            <div class="media-body">
              <h3>{{ footer.resident_address }}</h3>
              <p>{{ footer.postal_code }}</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
            <div class="media-body">
              <h3>{{ footer.phone_number }}</h3>
              <p>{{ footer.call_time }}</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-email"></i></span>
            <div class="media-body">
              <h3>{{ footer.email_address }}</h3>
              <p>Send us your query anytime!</p>
            </div>
          </div>
        </div>
      </div>
{% endif %}
    </div>
  </section>
  <!-- ================ contact section end ================= -->
{% endblock %}
